/* Animation */

.a {
    opacity: 0;
    /* Начальное состояние элементов (прозрачные) */
    transform: translateY(30%);
    /* Начальное состояние для анимации снизу */
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}

.a.visible {
    opacity: 1;
    transform: translateY(0);
}

.b {
    opacity: 0;
    /* Начальное состояние элементов (прозрачные) */
    transform: translateX(20%);
    /* Начальное состояние для анимации */
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}

.b.visible {
    opacity: 1;
    transform: translateX(0);
}

.c {
    opacity: 0;
    /* Начальное состояние элементов (прозрачные) */
    transform: translateX(-40%);
    /* Начальное состояние для анимации */
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}

.c.visible {
    opacity: 1;
    transform: translateX(0%);
}