/* reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* Body */

body {
    background-color: #000000;

}


.body-box {
    display: grid;
    place-content: center;
}


/* Header */

header {
    padding-bottom: 130px;
}

.header-logo {
    float: left;

    width: 171px;
    height: 130px;
}

.header-menu {
    margin-top: 45px;
    margin-right: 45px;
    float: right;
}

/*Title*/

.title-title{
    font-family: 'Rubik Wet Paint';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 178px;
    text-align: center;
    text-transform: uppercase;

    color: #C2E812;
}

/* Photo */

.photo-main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 80px;
}

/* Inf */

.inf-div{
    display: flex;
    justify-content: center;

    margin-top: 65px;
    margin-bottom: 100px;
}

.inf-li-1 {
    margin-right: 250px;
}

.inf-li{
    display: flex;
    margin-bottom: 55px;
}

.inf-p-pink{
    margin-top: 5px;
    margin-left: 10px;

    width: 421px;
    height: 54px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.inf-p-pink-i{
    margin-top: 15px;
    margin-left: 10px;
    
    width: 421px;
    height: 54px;
    
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.inf-p-green {
    margin-top: 5px;
    margin-left: 10px;

    width: 462px;
    height: 54px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.inf-p-green-i {
    margin-top: 5px;
    margin-left: 10px;

    width: 496px;
    height: 54px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.inf-p-green-i-1 {
    margin-top: 15px;
    margin-left: 10px;

    width: 496px;
    height: 54px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.inf-items-img{
    width: 17px;
    height: 59px;
}

/* Infa */

.infa-img{
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.infa-div{
    margin-bottom: 200px;
}

.infa-p{
    margin-bottom: 120px;

    margin-right: 355px;
    margin-left: 355px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;

color: #FFFFFF;
}

/* Footer*/

.footer-div-1 {
    display: flex;
}

.footer-logo {
    width: 402px;
    height: 235px;
}

.footer-div-contact {
    margin-top: 100px;
    margin-left: 130px;
}

.footer-contact-1 {
    margin-right: 50px;

    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-transform: uppercase;

    transition: all 0.4s;

    color: #FFFFFF;
}

.footer-contact-1:hover {
    color: #D71C5D;
}

.footer-contact-2 {
    margin-right: 50px;

    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-transform: uppercase;

    transition: all 0.4s;

    color: #FFFFFF;
}

.footer-contact-2:hover {
    color: #C2E812;
}

.footer-list {
    margin-top: 30px;
    margin-left: 120px;
}

.footer-li-a-1,
.footer-li-a-2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 55px;
    text-transform: uppercase;

    transition: all 0.4s;

    color: #FFFFFF;
}

.footer-li-a-1:hover {
    color: #C2E812;
}

.footer-li-a-2:hover {
    color: #D71C5D;
}

.footer-contact-2-div {
    display: flex;

    margin-top: -30px;
    margin-right: 50px;

    float: right;
}

.footer-contact-a-div-2-n1 {
    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;

    margin-right: 30px;

    transition: all 0.4s;

    color: #FFFFFF;
}

.footer-contact-a-div-2-n1:hover {
    color: #C2E812;
}

.footer-contact-a-div-2-n2 {
    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;

    transition: all 0.4s;

    color: #FFFFFF;
}

.footer-contact-a-div-2-n2:hover {
    color: #D71C5D;
}

.footer-copyright {
    /* margin-left: 830px; */
    margin-top: 20px;
    margin-bottom: 56px;

    text-align: right;
    margin-right: 50px;

    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;

    color: #393939;
}

/* Mobile-img */

.nikita {
    display: none;
}

.anton{
    display: none;
}

.anna{
    display: none;
}