/* Header */

.header-logo {
    width: 80px;
    height: 60.82px;
}

.header-menu {
    margin-top: 25px;
    margin-right: 15px;

    width: 50px;
    height: 10px;
}

/*Title*/

.title-title{
    font-family: 'Rubik Wet Paint';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 71px;
    text-align: center;
    text-transform: uppercase;

    color: #C2E812;
}

.photo-main-img {
    margin-top: 50px;
}

/* Inf */

.inf-div {
    display: flex;
    justify-content: center;

    margin-top: 45px;
    margin-bottom: 100px;
}

.inf-li-1 {
    margin-right: 70px;
}

.inf-li {
    display: flex;
    margin-bottom: 40px;
}

/* .inf-p-pink {
    margin-top: 5px;
    margin-left: 10px;

    width: 421px;
    height: 54px;

    width: 10px;
    height: 46px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;

    color: #FFFFFF;
} */

/* .inf-p-pink-i {
    margin-top: 15px;
    margin-left: 10px;

    width: 421px;
    height: 54px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-transform: uppercase;

    color: #FFFFFF;
} */

.inf-p-green {
    margin-top: 5px;
    margin-left: 10px;

    width: 283px;
    height: 34px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.inf-p-green-i {
    margin-top: 5px;
    margin-left: 10px;

    width: 283px;
    height: 34px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.inf-p-green-i-1 {
    margin-top: 15px;
    margin-left: 10px;

    width: 283px;
    height: 34px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.inf-items-img {
    width: 10px;
    height: 46px;
}

/* Infa */

.infa-img {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

    width: 550px;
    height: 548.66px;
}

.infa-div {
    margin-bottom: 130px;
}

.infa-p {
    margin-bottom: 50px;

    margin-right: 100px;
    margin-left: 100px;

    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-transform: uppercase;

    color: #FFFFFF;
}

/*Footer*/

.footer-logo {
    width: 200px;
    height: 116px;
}

.footer-div-contact {
    margin-top: 20px;
    margin-left: 200px;
}

.footer-div-1 {
    display: flex;
}

.footer-contact-1 {
    margin-right: 20px;

    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 35px;
    text-transform: uppercase;

    transition: all 0.4s;

    color: #FFFFFF;
}

.footer-contact-2 {
    margin-right: 50px;

    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 35px;
    text-transform: uppercase;

    transition: all 0.4s;

    color: #FFFFFF;
}

.footer-list {
    margin-top: 20px;
    margin-left: 50px;
}

.footer-li-a-1,
.footer-li-a-2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 45px;
    text-transform: uppercase;

    transition: all 0.4s;

    color: #FFFFFF;
}

.footer-contact-2-div {
    display: flex;

    float: right;

    margin-top: -30px;
}

.footer-copyright {
    margin-left: 240px;
    margin-top: 20px;
    margin-bottom: 40px;

    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    text-transform: uppercase;

    color: #393939;
}